<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>지도연습</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- services와 clusterer, drawing 라이브러리 불러오기 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=11ec79b5e2e29be92f505a58d34dc331&libraries=services,clusterer,drawing"></script>


    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/js/main.js"></script>

  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h2>Mapper</h2>
      </div>
      <div class="map_container">
        <div id="map">
        </div>
      </div>

      <div class="search_box">
        <input type="text" id="search" placeholder="검색어를 입력하세요!">
        <button class="search_btn" onclick="search()">검색</button>
      </div>

      <div class="line">

      </div>
      <div class="contents-body">

      </div>
    </div>
  </body>

  <script>

  </script>
</html>