<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&family=Noto+Serif+KR:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>향수 선택</title>

    <link rel="stylesheet" href="../static/css/detail.css" />
    <script src="../static/main.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="main_img_wrap">
        <img src="../static/img/maintitle.png" class="main_img" alt="" />
      </div>

      <div class="body_wrap">
        <div class="quiz-content">
          <h1>
            집 한채를 장만하게 되면,<br />
            내가 살게 될 집은?
          </h1>
        </div>
        <div class="choices">
          <button class="ch_btn" id="btn_type_A" onclick="btn_click('A')">
            A. 봄
          </button>
          <button class="ch_btn" id="btn_type_B" onclick="btn_click('B')">
            B. 여름
          </button>
          <button class="ch_btn" id="btn_type_C" onclick="btn_click('C')">
            C. 가을
          </button>
          <button class="ch_btn" id="btn_type_D" onclick="btn_click('D')">
            D. 겨울
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
